
<a href="#" class="button">
    <span>make a Quiz</span>
</a>

<div class="courses-container">

<div class="row">
    <div class="col">
        <div class="course">
            <div class="course-preview">
                <h6>Quizz n° 22</h6>
                <h4>JavaScript Quiz</h4>
                <a href="#">number of questions : 22<i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="course-info">
                <h6>Computer Science</h6>
                <h4>a little description</h4>
                <a class="btn" routerLink="/quizz">Play</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="course">
            <div class="course-preview">
                <h6>Quizz n° 22</h6>
                <h4>JavaScript Quiz</h4>
                <a href="#">number of questions : 22<i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="course-info">
                <h6>Computer Science</h6>
                <h4>a little description</h4>
                <button class="btn">Play</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="course">
            <div class="course-preview">
                <h6>Quizz n° 22</h6>
                <h4>JavaScript Quiz</h4>
                <a href="#">number of questions : 22<i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="course-info">
                <h6>Computer Science</h6>
                <h4>a little description</h4>
                <button class="btn">Play</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="course">
            <div class="course-preview">
                <h6>Quizz n° 22</h6>
                <h4>JavaScript Quiz</h4>
                <a href="#">number of questions : 22<i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="course-info">
                <h6>Computer Science</h6>
                <h4>a little description</h4>
                <button class="btn">Play</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="course">
            <div class="course-preview">
                <h6>Quizz n° 22</h6>
                <h4>JavaScript Quiz</h4>
                <a href="#">number of questions : 22<i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="course-info">
                <h6>Computer Science</h6>
                <h4>a little description</h4>
                <button class="btn">Play</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="course">
            <div class="course-preview">
                <h6>Quizz n° 22</h6>
                <h4>JavaScript Quiz</h4>
                <a href="#">number of questions : 22<i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="course-info">
                <h6>Computer Science</h6>
                <h4>a little description</h4>
                <button class="btn">Play</button>
            </div>
        </div>
    </div>
</div>
    

</div>



